*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #548687;
    display: flex;
    justify-content: center;
}

.message-container{
    height: 100vmin;
    
    
    font-size: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vmin;

}
.hidden{
    display: none;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
    
}
#new-game{
    height: 6vmin;
    align-items: center;
    justify-content: center;
    padding-left: 2vmin;
    padding-right: 2vmin;
    color: black;
    font-size: 2vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 2vmin;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: black solid 0.3vmin;
}
h1{
    margin-top: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-container{
    margin-top: 20px;
    height: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.board{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    background-color: #ffffc7;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #b0413e;
}

#reset-game{
    height: 6vmin;
    align-items: center;
    justify-content: center;
    padding-left: 2vmin;
    padding-right: 2vmin;
    color: black;
    font-size: 2vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 2vmin;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: black solid 0.3vmin;
}